// $("#display-messages").prepend("<div class='display-messages'>" + "<%= @message.content %>" + "</div>");
  $(".display-messages").append("<div class='messageR'>" + "<span class='bubbleR'>" + "<%= @message.content %>" + "</span>"
   + "</div>");
  $("#input-message").val('');

