// $("#display-messages").prepend("<div class='display-messages'>" + "<%= @message.content %>" + "</div>");

  $(".display-messages").append("<%=@message.content%>");
  $("#message_content").val('');

