// .light-border {
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 10px;
// }

// .light-margin {
//   margin: 10px;
// }

#picture-row1 {
  width: 100%;
  margin: auto;
  display: flex;
  height: 50vh;
}

#picture-row2 {
  width: 100%;
  margin: auto;
  display: flex;
  height: 30vh;

}

#picture-column1 {
  display: flex;
  flex-direction: column;
  width: 70%;
}


#picture-column2 {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.picture-item {
  position: relative;
  margin: 10px;
  img {
     width: 100%;
  }
}

.bottom-picture-item {
  position: relative;
  margin: 10px;
  img {
     width: 30%;
  }
}

#bottom-picture-item1 {
  position: relative;
  margin-right: 5%;
  width: 30%;
   img {
     width: 100%;
     height: 100%;
  }
}

#bottom-picture-item2 {
  position: relative;
  margin-left: 5%;
  width: 30%;
   img {
     width: 100%;
     height: 100%;
  }
}

#picture-column3 {
  display: flex;
  width: 70%;
}


#bottom-picture-item3 {
  position: relative;
  width: 30%;
   img {
     width: 100%;
     height: 100%;
  }
}


#big-picture-item {
  position: relative;
  margin: 10px;
  img {
     width: 100%;
  }
}

.add-picture-circle {
  width: 100%;
  height: 100%;
  background: #F5515F;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  padding-top: 3.5px;
  width: 2em;
  height: 2em;
}

.add-picture {
  position: absolute;
  right: -15px;
  bottom: -15px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.pink {
  color: #F5515F;
}
