// .light-border {
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 10px;
// }

// .light-margin {
//   margin: 10px;
// }

.picture-item {
  position: relative;
  margin: 12px;
  img {
    width: 100%;
  }
  .profil-pic {
    width: 100%;
  }
}

.add-picture-circle {
  background: #F5515F;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  padding-top: 3.5px;
  width: 2em;
  height: 2em;
  position: absolute;
  right: -15px;
  bottom: -15px;
  border: 1px solid white;
  border-radius: 50%;
}

.add-picture {
  right: -15px;
  bottom: -15px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.pink {
  color: #F5515F;
}
