<div class="receiver-wrapper">
  <div class="card-attende">
    <%= image_tag @attendee.facebook_picture_url, class: "receiver-picture"%> <!-- l'attendee doit être le receiver sur lequel on clique -->
  </div>

  <div class="receiver-info">
     <div class="receiver-name  text-center"><em id="name-receiver"><%= @attendee.first_name %>, 25</em></div>

     <div class="text-center"> <span class="event-receiver-name"> <i class="fa fa-calendar"></i> We Love Green 2017</span> </div> <!-- le nom de l'event dans lequel on est -->
    <% current_user.events.each do |event| %>
      <% if event.end_time %>
        <% if @attendee.events.include?(event) && event.end_time < Time.now %>
          <p class="common-event text-center">Vos évènements passés en commun :</p>
          <!-- la liste des events en commun -->
          <div class="text-center"> <span class="event-name"></i> <%= event.name %></span> </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
