<% if user_signed_in? %>
  <div class="navbar-eventme navbar-eventme-fixed text-center">
    <div class="navbar-start">
      <%= link_to user_path(current_user) do %>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <% end %>
      <%= link_to events_path(current_user) do %>
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <% end %>
    </div>

    <%= image_tag "logo.png", class: "navbar-logo" %>

    <div class="navbar-end">
    <%= link_to matches_path(current_user) do %>
      <i class="fa fa-comments" aria-hidden="true"></i>
    <% end %>
    </div>
  </div>
<% end %>

