<div class="navbar-eventme navbar-eventme-fixed text-center">
  <div class="navbar-start">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
  </div>

  <%= image_tag "logo.png", class: "navbar-logo" %>
  <div class="navbar-end">
    <i class="fa fa-comments" aria-hidden="true"></i>
  </div>
</div>
