
/* Main class */
.navbar-eventme {
  box-shadow: 0 1px 5px 0 rgba(245, 81, 95, 0.7),0 1px 0 0 rgba(245, 81, 95, 0.3);
  transition: all 0.3s ease;
  height: 9vh;
  position: relative;
  background: #F5515F;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

/* Optional class to fix the navbar on top */
.navbar-eventme-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5000;
  width: 100%;
}

.navbar-start {
  font-size: 4.5vh;
  color: white;
  align-items:center;
  padding-left: 1vh;
}

.navbar-start a {
  color: white;
}

.navbar-end {
  font-size: 4.5vh;
  color: white;
  text-decoration: none;
  align-items:center;
  padding-right: 1vh;
}

.navbar-end a {
  color: white;
}

.navbar-logo {
  width: 9vh;
  margin: auto;
  align-items:center;
}

.navbar-eventme p {
  color: white;
  width: 100px;
  font-size: 20px;
  margin: 22px auto;
}

.wrapper-home {
    background-color: #F5515F;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

