/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

#liked-all {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:5000;
  color:white;
}

.liked-all-alert{
  position:relative;
    z-index:5000;
}



// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}


.black-wrapper {
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #393939;
    opacity: 0.5;
    z-index:3001;
}

.radius {
  border-radius:4px 4px 0px 0px;
}

.attendee {
  display:none;
}

#display-messages {
  height:50vh;
  background-color:red;
}

.match-confirmed {
  height:100vh;
  background-color:#393939;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0.9;
  z-index:10;

  .match-confirmed-content {
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    align-items:center;
    height:90%;
    text-align: center;

  }


  i {
    color:white;
    font-size:3em;
    position:absolute;
    top:5%;
    right:5%;
    cursor:pointer;
    z-index: 10000;

  }

  h3 {
    color:white;
    // position:absolute;
    // top:20%;
    // left:30%;
  }

  #avatar-user_1, #avatar-user_2 {
    margin: 0 -15px;
  }

  // #avatar-user_1{
  //   position:absolute;
  //   left:25%;
  //   top: 30%;
  // }

  // #avatar-user_2 {
  //   position:absolute;
  //   right:27%;
  //   top:30%;
  // }
  p {
    color:white;
    font-size:16px;
    text-align: center !important;
    // position:absolute;
    // bottom:45%;
  }

  // #match-cta{
  //   position:absolute;
  //   bottom:35%;
  // }
}

.inline{
  display:inline-block;
}

#chat-input {
   position:fixed;
   bottom:0;
}

#input-message {
  width:76% !important;
  display:inline-block !important;
  bottom:0;
  position:fixed;
}
