.btn-red-rounded {
  border-radius:50%;
  background-color:#F5515F;
  height:70px;
  width:70px !important;
  width:auto;
  color:white;
  border-color:#F5515F;
  right:15px;
  position:fixed;
  bottom:10%;
  right:10%;
}
