#meet-button {
  // border-radius:50%;
  background-color: #FFF;
  height:70px;
  width: 100% !important;
  width:auto;
  color: #F5515F;
  right:15px;
  position:fixed;
  bottom:0%;
  right:0%;
  z-index:5000;
  border: none;
  font-size: 2em;
}

.btn-fade {
  background:none;
  border:none;
}

#btn-message {
  bottom: 0;
  position: fixed;
  margin-left: 76%;
  width: 24%;
}
