.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 4px 4px 0 0;
}

.card-title {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size:20px;
}

.attendee-photo{
  display: flex;
  justify-content: center;
  position:relative;
  margin: auto;
  width: 100%;
  height: 85%;
}

.attendee-name {
  color: white;
  font-size: 2.8em;
  position: absolute;
  bottom: 1vh;
  margin-bottom: 0px;
  font-weight: bold;
  z-index: 2;

}

.background-name{
  position: absolute;
  bottom: 0;
  height: 11vh;
  width: 100%;
  opacity: 1;
  background-image: linear-gradient(-180deg, rgba(157,155,155,0.0) 0%, #2A2A2A 100%);
  z-index: 0;
}

#name-picture {
  -webkit-animation: boxShadow 0.3s 1s cubic-bezier(0, 0, 0, 1.25) forwards;
  animation: boxShadow 0.3s 1s cubic-bezier(0, 0, 0, 1.25) forwards;
  box-shadow: inset 0px 0 #c33149;
  box-shadow: inset 0px -24px #c33149;
  z-index: 2;
}

.attendee {
  height: 90vh;
  width: 100%;
}

.attendee-info {
  background-color: #F5515F;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size : 1.2em;
  height: 15%;
  margin: auto;
  border-radius:0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attendee-info div {
  color: white;
  margin-bottom: 2px;
  background-color: rgba(245, 81, 95, 0.56);
}

.event-name {
  font-size: 1.3em;
  font-weight: bold;
  color:white;
}

.swipe-dislike {
  position:absolute;
  bottom:10px;
  left:40px;
  z-index:3000;
  cursor:pointer;
}

.swipe-like {
  position:absolute;
  bottom:10px;
  right:40px;
  z-index:3000;
  cursor:pointer;
}

#heart{
  position:absolute;
}

.attendee-common-events{
  color:white;
}

.card-linear {
  background: linear-gradient(bottom, rgb(254,133,107) 24%, rgb(35,171,17) 62%);
}

.card-subtitle{
  position:absolute;
  top:35px;
  left:10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-bottom {
  background-color: #F5515F;
  background-size: cover !important;
  height: 75px;
  margin: auto;
  padding:5px;
  margin-bottom: 15px;
  position: relative;
  border-radius: 0 0 4px 4px;
}

.card-bottom-title {
  color: white;
  position: absolute;
  top: 5px;
  font-weight: lighter;
}

.card-bottom-date {
  color: white;
  bottom: 7px;
  font-weight: bold;
  position: absolute;
}

// .card-attendee  {
//   position: absolute;
//   color: white;
//   right: 5px;
//   bottom: 1px;
//   margin-bottom: 0px;
//   padding-bottom: 0px;
// }

.attendees {
  position: absolute;
  display: flex;
  vertical-align: center;
  bottom: 7px;
  right: 10px;
  color:white;
}

.attendees-count > p {
  margin-bottom: 0 !important;
}

.attendees-count {
  margin-left: 10px;
}
