.receiver-picture {
  height: 100%;
  width: 100%;
  margin-top: -10px;
}

.receiver-name {
  position: absolute;
  bottom: 10px;
  left: 145px;
  color:white;
  font-size:20px;
  font-weight:bold;
}

.card-attende {
  position: relative;
}
