.match {
  position:relative;
  border-bottom:1px solid #EEEEEE;
  padding:10px;
  .match-user-name {
    position:absolute;
    top:35%;
    left:33%;
  }

  .match-user-event {
    position:absolute;
    top:54%;
    left:33%
  }

  p {
    color:#c33149 !important;
    font-size: 1.2em;

  }

}

.match-box {
  display: flex;
  align-items: center;
}
